@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.woff2") format("woff2"), url("fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.woff2") format("woff2"), url("fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    box-sizing: border-box;
    font-family: "TT Lakes";
    font-size: 16px;
    background-color: #F2F2F2;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.brands__head {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-bottom: 16px;
}

.brands__title {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 0 auto;
    width: 95%;
    padding: 16px 0;
}

.title__text {
    font-family: "TT Lakes";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}

.swiper-wrapper {
    padding: 0 0 0 16px;
}

.swiper-slide {
    box-sizing: border-box;
    display: inline-block;
    background: #FFFFFF;
    border: 2px solid #EAEAEA;
    border-radius: 6px;
    max-height: 72px;
    padding: 16px;
    width: 240px;
}

.brands__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.brands__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background: url(images/dropdown.svg) no-repeat center center;
}

.swiper {
    height: 120px;
}

.swiper .swiper-pagination {
    bottom: 15px;
}

.swiper .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #B5B6BC;
}

.brands__list-items {
    display: none;
}

.show-more {
    display: none;
    margin: 0 auto;
    width: 95%;
}

.show-more__text {
    display: inline-block;
    font-family: "TT Lakes";
    font-size: 1rem;
    line-height: 24px;
    font-weight: 500;
}

.show-more__text::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 11px;
    background-image: url(images/read_more.svg);
    vertical-align: center;
    margin: 0 13px 0 10px;
    -webkit-transition: all 1ms ease;
    -o-transition: all 1ms ease;
    transition: all 1ms ease;
}

.show-more__text--hide::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (min-width: 767.8px) {
    .brands__icon {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .show-more {
        display: block;
    }

    .brands__head {
        margin-bottom: 24px;
    }

    .swiper {
        display: none;
    }

    .brands__list-items {
        height: 168px;
        padding-top: 5px;
        overflow: hidden;
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 16px;
        column-gap: 24px;
        margin-bottom: 24px;
        transition: all 0.3s ease;
    }
}

@media (min-width: 767.8px) and (min-width: 768px) {
    .brands__list-items--show-more {
        height: 344px;
    }
}

@media (min-width: 767.8px) and (min-width: 1120px) {
    .brands__list-items--show-more {
        height: 253px;
    }
}

@media (min-width: 767.8px) {
    .brands__list-item {
        transition: all 0.2s ease;
    }

    .brands__list-item:hover {
        transform: scale(0.97);
        box-shadow: 0px 0px 9px -4px rgba(34, 60, 80, 1);
    }

    .brands__list-item:hover .brands__icon {
        transform: rotate(90deg) scale(0.97);
    }
}

@media (min-width: 767.8px) {
    .brands__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        border: 2px solid #EAEAEA;
        border-radius: 6px;
        padding: 16px;
        min-height: 72px;
    }
}

@media (min-width: 1119.8px) {
    .brands__list-items {
        gap: 16px 32px;
        grid-template-columns: repeat(4, 1fr);
    }

    .brands__list-item {
        flex: 0 0 240px;
    }
}
